@charset "UTF-8";
/* CSS Document */
html {
background: url(images/background.png) top center no-repeat;
}
body {
	position: relative;
	width: 500px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-style: normal;
	font-variant: small-caps;
	font-weight: lighter;
	font-size: medium;
	text-shadow: 0px 0px;
	text-align: justify;
	letter-spacing: 1%;
	background-position: 0% 0%;
	background-clip: content-box;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
}
